.app {
  display: flex;
  max-width: 1200px;
  width: 100%;
  margin: 100px auto;
  box-shadow: 0 0 5px #ccc;
  padding-left: 24px;
  overflow: hidden;
}

.item-details {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 30px 0;
}

.item-color {
  display: flex;
  align-items: center;
}

.item-color span:first-child {
  display: flex;
  align-items: center;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.7);
}

.item-color span:last-child {
  display: flex;
  align-items: center;
  font-weight: 500;
  padding-left: 5px;
  font-size: 17px;
  line-height: 14px;
  font-style: normal;
}

.item-box {
  width: 100%;
  height: 100px;
  display: flex;
  cursor: pointer;
  margin: 10px 0px;
}

.item-box img {
  width: 120px;
  height: 100%;
  display: block;
  object-fit: contain;
  border: 1px solid #ddd;
  margin-right: 5px;
  border-radius: 5px;
}

.item-box img.active {
  border: 3px solid #18a0fb;
}

.item-name {
  display: flex;
  width: 100%;
  cursor: pointer;
  margin: 10px 5px;
}
.item-name span:nth-child(1) {
  display: flex;
  justify-content: center;
  margin-left: 10px;
  cursor: pointer;
  font-weight: 500;
  line-height: 1.25;
  align-items: center;
}

.btn {
  display: flex;
  align-items: center;
  width: 677px;
  height: 36px;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

h5 {
  font-weight: 500;
  font-size: 16px;
  margin-left: 10px;
}

.item_footer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.item_details_footer {
  display: flex;
  align-items: center;
}

.qtyControl {
  display: flex;
  width: 100%;
  height: 36px;
  margin-right: 25px;
}
.qtyControl button:first-child {
  border: 1px solid grey;
  border-top-right-radius: 0;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 0;
  cursor: pointer;
}
.qtyControl button:nth-child(2) {
  border: 1px solid grey;
  width: 100%;
  border-left: hidden;
  border-right: hidden;
}

.qtyControl button:last-child {
  border: 1px solid grey;
  border-top-right-radius: 3px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 3px;
  cursor: pointer;
}

@media (max-width: 800px) {
  .app {
    margin-top: 0;
    margin-left: 10px;
  }
  .btn {
    width: 100px;
    height: 100px;
    padding-right: 10px;
  }
  .item-name {
    margin-left: 0px;
  }
  .item-name span:nth-child(1) {
    margin-right: 15px;
    margin-left: 0;
  }
  .item-box {
    height: 100px;
  }
  .item-box img {
    width: 100px;
  }
  .qtyControl {
    height: 30px;
    width: 100px;
  }
  h5 {
    font-size: 14px;
  }
}
